.resume {
    position: relative;
    background-color: #343a40;
    background: url("http://d3pkcrehufmgbl.cloudfront.net/bg-masthead.png") no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.bg-dark-card {
    background-color: rgba(76, 76, 76, 0.5) !important;
    

}
