.resume {
    position: relative;
    background-color: #343a40;
    background: url("https://s3.us-east-2.amazonaws.com/djmckay-tech/bg-masthead.png") no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.bg-dark-card {
    background-color: rgba(76, 76, 76, 0.5) !important;
    

}
