<nav class="navbar navbar-lightstatic-top bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">{{ site.brand }}</a>
    <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
      {% include "socialList.njk" %}
    </div>
  </div>
</nav>
